<Layouts.app flash={@flash}>
  <.header>
    Task {@task.id}
    <:subtitle>This is a task record from your database.</:subtitle>
    <:actions>
      <.button navigate={~p"/tasks"}>
        <.icon name="hero-arrow-left" />
      </.button>
      <.button variant="primary" navigate={~p"/tasks/#{@task}/edit?return_to=show"}>
        <.icon name="hero-pencil-square" /> Edit task
      </.button>
    </:actions>
  </.header>

  <.list>
    <:item title="Title">{@task.title}</:item>
    <:item title="Completed">{@task.completed}</:item>
    <:item title="Priority">{@task.priority}</:item>
  </.list>
</Layouts.app>
